* {
  margin: 0;
  padding: 0;
}
.nav {
  min-width: 100%;
  height: 20%;
  display: flex;
  position: relative;
  background-color: #000;
}
.logo {
  width: 170px;
  min-width: 170px;
  background-color: #ff5a00;
}
.logo img {
    height: 91%;
    width: 80%;
    margin-left: 15px;
}
.navcontents {
  height: 20%;
}
.navcontents ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  margin: 0 2px;
}
.navcontents ul li {
  display: table;
  margin: 30px;
  font-size: 13px;
}
.navcontents a {
  color: #666;
  text-decoration: none;
}
.products {
  text-align: center;
  border-right: 1px solid #1a1a1a;
  font-weight: 400;
  line-height: 0.3;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  padding: 0 0.3em;
}
.community {
  text-align: center;
  border-right: 1px solid #1a1a1a;
  font-weight: 400;
  line-height: 0.3;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.support {
  text-align: center;
  border-right: 1px solid #1a1a1a;
  font-weight: 400;
  line-height: 0.3;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.articles {
  text-align: center;
  border-right: 1px solid #1a1a1a;
  font-weight: 400;
  line-height: 0.3;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.news {
  text-align: center;
  border-right: 1px solid #1a1a1a;
  font-weight: 400;
  line-height: 0.3;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.company {
  text-align: center;
  border-right: 1px solid #1a1a1a;
  font-weight: 400;
  line-height: 0.3;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}
.user{
    margin: 17px 50px;
    border-right: 1px solid #1a1a1a;
    line-height: 0.3;
    text-align: center;
}
.user i {
  height: 30px;
  color:#666;
}
.cont {
  min-height: 92vh;
  background: url(billboard_aira_compact_2023.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
a:hover{
    color: white;
}
.searchbar h4{
     
    display: inline-block;
    margin-right: 10px;
    font-weight: 400;
}
.searchbar i{
    color: #666;
}
.searchbar input{
    border-radius: 1cm;
    border: none;
    width: 130px;
    height: 20px;
    margin-top: 20px;
    margin-left: 10px;
}
/* .products:hover {
    background-color: #1a1a1a;
  }
  .community:hover {
    background-color: #1a1a1a;
  }
  .support :hover{
    background-color: #1a1a1a;
  }
  .articles:hover {
    background-color: #1a1a1a;
  }
  .news:hover {
    background-color: #1a1a1a;
  }
  .company:hover{
    background-color: #1a1a1a;
  } */
/* .row1 {
    position: absolute;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;
    margin-bottom: 30px;
} */

/* .pic{
 display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  max-height: 100%;

} */
/* .row2{

    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 160%;
    border-top: 0.5px black solid;
} */
.grid {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1px;
}

.grid .item2 {
    display: flex;
    justify-content: center;
    border-top: 0.1px black solid;
    height: 80%;
    margin : 60px 0;


}

.grid .item1 {
    display: flex;
   margin-top: 90px;
    justify-content: center;
    



}

.grid .item1 .item2 img {
    max-width: 100%;
    max-height: 100%;
}
.item{
    margin: 20px;
}
.text1{
    margin-top: 10px;
    display: grid;
    width: 370px;
}
.text1 h4{
    color: gray;
}
.text1{
    font-size: 15px;
}
.middle ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 10px;
    
}
.middle{
    margin: 10px;
    padding: 15px;
}
.middle li {
    list-style: none;
}
.middle li a :hover{
    width: 100%;
    background-color: #ff5a00;
}
#one img{
    margin-top: 30px;
    border-width: 100px;
}
#one{
    border-top: 0.1px black solid;
}
/* .piano{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}
.piano small{
    font-size: .9rem;
    font-weight: 300;
    line-height: 1;
    color: white;
    letter-spacing: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.piano li figure{
    width: 100%;
} */
.level1{
    background-color: #e5e5e5;
    height: 15%;
    width: 100%;
    position: absolute;
    margin-top: 50px;
}
.level2{
    position: absolute;
    background-color: #000;
    width: 100%;
   
}
.level2 .bar1 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #1a1a1a;
}
.bar1 li{
    margin: 20px 30px;
    color: #ff5a00          ;
    list-style: disc;
    
}
.bar1 a{
    text-decoration: none;
    color:#666;
}
.bar1 li :hover{
    color:#ff5a00;
}
.bar2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1a1a1a;
    height: 70px;
}
.bartext li{
    float: left;
    margin: 5px 20px;
}
.bar2 li a{
    text-decoration: none;
    color:#666;
    font-size: 14px;
    border-right: 1.5px solid #666;
    line-height: 1px;
    padding: 0px 10px;
    margin: 11px;
    margin-left: -39px;
    
}
.bar2 li  img{
    height: 22px;
    margin: -6px;
    
}
.bar2 li :hover{
    text-decoration: underline;
    
}
.bar3{
    display:flex ;
    justify-content: space-around;
    
}
#heading{
    margin: 40px 0px;
    text-transform: uppercase
}
.bar3 li a{
    text-decoration: none;
    color: #666;
}
.bar3 li{
    margin: 5px 0px;
}
.bar3 li a:hover{
   text-decoration: underline;
}
.bar4{
    margin: 100px 30px;
    
}
.bar5 p {
    text-decoration: none;
    color: #666;
    display: inline;
}
.bar5 p a{
    text-decoration: none;
    color: #666;
}
.bar5 li a{
    text-decoration: none;
    color:#666;
    font-size: 14px;

}
.contents li{
    display: inline;
    margin: 0px 10px;
    padding: 0px 10px;
    margin: 11px;
}
.copyrigth p{
    color: #666;
    text-align: center;
}
.bar5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.bar5  li a:hover{
    text-decoration: underline;
    
}

@media only-scree  {
    
}

